<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Restaurant Apps</title>
    <link rel="apple-touch-icon" href="/icons/icon.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>

<body>
    <a href="#!" class="skip-link" rel="noreferrer">To Content</a>
    <div class="alert hidden"></div>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1>Restaurant Apps</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/" rel="noreferrer">Home</a></li>
                <li><a href="#/favorite" rel="noreferrer">Favorite</a></li>
                <li><a href="https://github.com/Rahmatuldani" rel="noreferrer">About Us</a></li>
            </ul>
        </nav>
    </header>
    <section id="jumbotron">
        <div class="container">
            <h2 tabindex="0">Welcome to Restaurant Apps</h2>
            <p tabindex="0">Here you can search for the restaurant you want</p>
        </div>
    </section>
    <main id="mainContent" tabindex="0"></main>
    <footer>
        <p>Copyright &copy; Rahmatul Ramadhani</p>
    </footer>
</body>

</html>