@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;

    .app-bar__brand h1 {
      font-size: 1.5em;
    }

    .app-bar__menu {
      display: none;
    }

    .app-bar__navigation {
      position: static;
      width: 100%;
    }

    .app-bar__navigation ul li {
      display: inline-block;

      a {
        display: inline-block;
        width: 120px;
        text-align: center;
        margin: 0;
      }
    }
  }

  #jumbotron {
    height: 50vh;
    justify-content: center;

    .container {
      width: 100%;
      max-width: 1200px;

      h2 {
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }
    }
  }

  main {
    padding: 4rem 5rem;
    padding-bottom: 1rem;

    .content {
      .content__heading {
        font-size: 30px;
        width: 60%;
      }

      input {
        width: 50%;
      }
    }
  }

  .card {
    width: 300px;
    height: 350px;
  }
}
@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 850px) {
  .restaurans {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .restaurans {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .restaurans {
    grid-template-columns: repeat(5, 1fr);
  }
}
